<style>

@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

body {
  background-color: lightblue;
}

h1 {
  color: red;
  text-align: center;
  font-family: 'Manjari', sans-serif;
	border: 5px solid red;
}

h2 {
  color: blue;
  text-align: center;
	border: 5px solid red;
}

p {
  font-size: 20px;
	text-align: center;
}

img {
	width: 150px;
	text-align: center;
}
</style>
